<h2>Edit agent</h2>

<%= form_with model: @agent, local: true do |form| %>
<p>
<%= form.label :name %>
<%= form.text_field :name %>
</p>
<p>
<%= form.label :rating %>
<%= form.text_field :rating %>
</p>
<p>
<%= form.file_field :photo %>
<%= form.submit "Done" %>
</p>

<% end %>