<div class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to agents_path, class: "navbar-brand" do %>
    <%= "Valorank" %>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
 <div class="nav-item"><%= link_to "Agents", agents_path, class:"nav-link" %></div>
 <div class="nav-item"><%= link_to "Weapons", weapons_path, class:"nav-link" %></div>
 <div class="nav-item"><%= link_to "Maps", weapons_path, class:"nav-link" %></div>
 </ul>
</div>
</div>
       
<div class="banner">
<div>
<h1 id="title">Valorank</h1>
</div>
</div>

<div class="agents">
<h1>Agents</h1>
<% @agents.each do |agent| %>
<% if agent.photo.attached? %>
<%= link_to agent_path(agent) do %>
<div class="card-agent">
<div class="card-agent-content">
<%= cl_image_tag agent.photo.key, height: 180, width: 150, crop: :fill %>
<%= agent.name %>
</div>
</div>


<% end %>

</div>

<% end %>

<%end%>


