<div class="banner">
<div>
<h1 id="title">Valorank</h1>
</div>
</div>

<h2>AGENTS</h2>
<div class="container-agents">
<% @agents.each do |agent| %>
<% if agent.photo.attached? %>
<%= link_to agent_path(agent) do %>
<div class="card-agent" >
<%= cl_image_tag agent.photo.key, height: 180, width: 180 %>
<div id="agent-subtitle"><%= agent.name.upcase %></div>
</div>


<% end %>


<% end %>


<%end%>
</div>

<h2>RANKING</h2>
<div class="rankhead">
<h5>#</h5>
<h5>RANK</h5>
<h5>RATING</h5>
</div>
<div class="ranking">
<div class="rankcontain">
<h4>1</h4> <%= image_tag "https://playvalorant.com/assets/images/leaderboards/radiant-badge.png", height: 40 %><h4>830</h4> <h4>METRO Kayros#000</h4>
</div>
</div>
<div class="ranking">
<div class="rankcontain">
<h4>2</h4> <%= image_tag "https://playvalorant.com/assets/images/leaderboards/radiant-badge.png", height: 40 %><h4>788</h4> <h4>infiltrator#000</h4>
</div>
</div>
<div class="ranking">
<div class="rankcontain">
<h4>3</h4> <%= image_tag "https://playvalorant.com/assets/images/leaderboards/radiant-badge.png", height: 40 %><h4>779</h4> <h4>wedid#0702</h4>
</div>
</div>
<div class="ranking">
<div class="rankcontain">
<h4>4</h4> <%= image_tag "https://playvalorant.com/assets/images/leaderboards/radiant-badge.png", height: 40 %><h4>774</h4> <h4>Dinxx#frog</h4>
</div>
</div>
<div class="ranking">
<div class="rankcontain">
<h4>5</h4> <%= image_tag "https://playvalorant.com/assets/images/leaderboards/radiant-badge.png", height: 40 %><h4>752</h4> <h4>zt0L#TTV</h4>
</div>
</div>

<button class="btn-more">See more</button>



