<h1>WEAPONS</h1>
<div class="card-weapon">
<% @weapons.each do |weapon| %>
<% if weapon.photo.attached? %>
<%= link_to weapon_path(weapon) do %>
<div class="card-weapon-content">
<%= cl_image_tag weapon.photo.key, height: 100, width: 300, crop: :fill %>
<div class="weapon-text">
<%= weapon.name.upcase %>
<div>
<%= weapon.price %> 
<%= icon('fa-solid','coins') %> 
</div>
</div>
</div>

<% end %>


<% end %>

<%end%>
</div>
